/**
* Main stylesheet
*
* Author: Michelle Greber, Simon Bertschinger
**/

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  color: #02091e;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  background-color: #e5ecff;
}

h1, h2, h3 {
  font-family: "Comfortaa", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

a, a:visited {
  text-decoration: none;
  color: #0099ff;
}

a:hover, a:visited:hover {
  color: #66c2ff;
}

#page {
  min-height: 100%;
  position: relative;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#header {
  background-color: #002e4d;
  height: 100px;
}

#header .wrapper {
  display: table;
  height: 100%;
}

#menubar {
  display: table-cell;
  vertical-align: middle;
  width: 800px;
}

#menubar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menubar ul li {
  display: inline-block;
  width: 80px;
}

#menubar ul li:hover a {
  line-height: 20px;
  color: #66c2ff;
  border-bottom: 3px solid #66c2ff;
}

#login {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
}

#login button {
  float: right;
  -webkit-appearance: none;
  background-color: inherit;
  color: #66c2ff;
  border: 1px solid #66c2ff;
  height: 50px;
  width: 100px;
  border-radius: 3px;
}

#login button:hover {
  background-color: #ccebff;
  cursor: pointer;
  color: #002e4d;
}

/*
18.09.2017 by Simon Bertschinger
This is the sample css for the modal dialoge
*/
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #C6E2FF;
  background-color: rgba(0,46,77,.8);
  align-content: center;
}

.modal-content {
  position: relative;
  background-color: #e5ecff;
  margin: 5px auto;
  padding-left:1em;
  padding-right:1em;
  padding-top: 1em;
  padding-bottom: 1em:
  border: 3px solid #002929;
  align-content: center;
  width: 350px;
  height: 400px;
  top: 15%;
}

.modal-content .imgcontainer {
  text-align: center;
}

.modal-content label {
  display: inline-block;
  min-width: 150px;
}

.modal-content .container div {
  display: block;
  margin-bottom: 5px;
}

.modal-content div button[type="submit"] {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.modal-content .avatar {
  max-width: 60%;
  max-height: 40%;
  align-self: center;
  align-content: center;
}

.modal-content .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #66c2ff;
  font-size: 35px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/**** Modal END ****/

#content {
  padding-bottom: 200px;
}

#footer {
  position: absolute;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #002e4d;
}

#footer h3 {
  font-size: 16px;
  color: #66c2ff;
}

#footer p {
  font-size: 15px;
  color: #e5ecff;
  margin: 3px 0;
}

#bottombar {
  text-align:center;
  height: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #02091e;
}

#bottombar p {
  margin: 0;
  padding: 0;
  color: #66c2ff;
}
